# Build output
target/
*.class
*.jar

# IDE
.classpath
.project
.settings/
.idea/
*.iml

# OS
.DS_Store

# JVM crashes
hs_err_pid*

# Written by LX when verify-load.sh runs
.lxpreferences

# Logs
*.log
